.signUpStyle{
    width: 60%;
    margin-top: 2%;
    margin-left: 13%;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(9, 145, 52, 0.2); 
   }
   
   .signUpHeading{
       color: rgb(22, 153, 22);
       margin-left: 10%;
   }

   .formFields{
    margin-left: 10%;
    margin-bottom: 3%;
    width: 60%;
    padding: 0.6rem;
    border-radius: 0.7rem;
    font-size: medium;
}
