.ipod{
    border: 2px;
    width: 325px;
    height: 450px;
    background-color: rgba(154, 30, 123, 0.328);
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 5%;
}

.outerScreen{
    width: 83%;
    height: 50%;
    position: relative;
}
.screen{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 100%;
   height: 80%;
   position: absolute;
   left: 10%;
   top:8%;
   border: 2px solid rgb(22, 110, 46);
   border-radius: 5%;
}

.menubg{
    background-color: white;
    border-radius: 0.6rem;
}

.screen div{
    width: 100%;
    height: 100%;
}

img{
   width: 100%;
   height: 100%; 
}

.keypad{
    width: 100%;
    height: 50%;
    border-radius: 5%;
    position: relative;
}

.buttons{
    width: 53%;
    height: 70%;
    left: 25%;
    top:10%;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(227, 234, 240, 0.831);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); /* Creates 3 equal-width columns */
    grid-gap:4px;
}

.buttons span {
    position: relative;
    top:0.9rem;
    left: 1rem;
}

.enter{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background-color: rgba(171, 148, 148, 0.597);
    position: absolute;
    left: 32%;
    top:34%;
}